<% #Llamado cuando se crea un organismo con ajax
#Simplemente informar el resultado del metodo create
%>


<% if $ok %>
   $("#tipo_nota_<%= @tipo_nota.id %>").fadeOut("slow",new function(){$("#tipo_nota_<%= @tipo_nota.id %>").remove();});

<%
   else
%>
$('body').append("<div id='tempmsj'></div>");
$('#tempmsj').dialog({
                        autoOpen: false,
                        resizable: false,
                        show: 'fade',
                        hide: 'fade',
                        height: 140,
                        modal: true,
                        title: 'No se pudo eliminar',
                        close: function (event, ui) { $('#tempmsj').remove();},
                        open: function (event, ui) {
                          $('#tempmsj').html('<p>Hay registros que dependen de este Tipo de Documentación</p>');
                        }
                    }).dialog("open");

setTimeout(function () { $('#tempmsj').dialog("close"); }, 2000);

<% end %>
