<nav class="navbar" role="navigation">
  <%= navBarLink(@dependencia,"Mostrar", "view16x16.png", {:title =>"Mostrar Dependencia", :alt=>"Mostrar"})%>
  <%= navBarLink(dependencias_path,"Listado", "list16x16.png", {:title =>"Ir al Listado de Dependencias", :alt=>"Listar"})%>
</nav>

<div class="formulario">
    <div class="row">
      <div class="col-xs-6  col-sm-6  col-md-6  col-lg-6 col-md-offset-3 col-sm-offset-3 col-lg-offset-3">
    <h1>Editar Dependencia</h1>
 <%= render 'form' %>
      </div>
    </div>
</div>
