
<nav class="navbar" role="navigation">
  <%= navBarLink(@organismo,"Mostrar", "view16x16.png", {:title =>"Mostrar Organismo", :alt=>"Mostrar"})%>
  <%= navBarLink(organismos_path,"Listado", "list16x16.png", {:title =>"Ir al Listado de Organismos", :alt=>"Listar"})%>
</nav>

<div class="formulario">
    <div class="row">
      <div class="col-xs-6  col-sm-6  col-md-6  col-lg-6 col-md-offset-3 col-sm-offset-3 col-lg-offset-3">
        <h1>Editar organismo</h1>
        <%= render 'form' %>
      </div>
    </div>
</div>
