<p class="error">El organismo no puede ser editado</p>
<h1>Detalle sobre el Organismo</h1>
<p>
  <span class="text-key">Nombre:</span>
  <%= @organismo.nombre %>
</p>
<p>
  <span class="text-key">Alias:</span >
  <%= @organismo.alias %>
</p>

<p>
  <span class="text-key">Descripcion:</span >
  <%= @organismo.descripcion %>
</p>

<p>
  <span class="text-key">Codigo:</span >
  <%= @organismo.codigo %>
</p>
</div>

