#notas-index
  %table#notas-DataTable.table
    %thead
      %tr
        %th Descripción
        %th Observaciones
        %th Fecha
        %th Ingreso
        %th Tipo
        %th Remitente
        %th Destinatario
    %tbody
        
