
<div class="form-v3">
    <div class="box-toolbar">
        <ul>
        <li><%= link_to image_tag("view16x16.png",{:align => "middle", :title =>"Mostrar", :alt=>"Mostrar", :border => "0"})+ "Ver", @entidad %></li>
        <li><%= link_to image_tag("list16x16.png",{:align => "middle", :title =>"Ir al Listado", :alt=>"Listar", :border => "0"})+"Listado", entidades_path %></li>
        </ul>
    </div>

<h1>Editar Relación Cargo-Personas</h1>
<%= render 'form' %>
</div>
