<% #Llamado cuando se crea un persona con ajax
#Simplemente informar el resultado del metodo create
%>
<% if @persona.valid? %>

  $("#message-remote").html('<p class="alert">El persona se guardo correctamente</p>');
  $("#listado-personas").append("<%= escape_javascript(render("single_row_index"))%>");
<%
   else
       strerror="<h3>"+pluralize(@persona.errors.count, "Error")+ " produjo que la persona no se guardara:</h3>"

       @persona.errors.each_with_index do |msg, i|
          strerror +='<p class="error">'+ msg[1] +'</p>'
       end

%>

$("#message-remote").html('<%= raw(strerror) %>');

<% end %>
