<p>Hola <%= @resource.email %>!</p>

<p>Solicitó recuperar su contraseña de acceso al Sistema de Mesa de Entradas. Abajo está el enlace para recuperar su contraseña:.</p>

<p><%= link_to 'Cambiar mi contraseña de acceso', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>
<p>Recorda que tu nombre de usuario para acceder luego al sistema es <%= @resource.username %></p>
<p>Si usted no solicito recuperar la contraseña, por favor ignore este email.</p>
<p>Tu contraseña no cambiará hasta que acceda al enlace anterior y cree una nueva contraseña.</p>
